.App {
  min-height: 100vh;
  display: flex;
  background: rgb(37, 37, 37);
  position: relative;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
}

.birthday-text {
  width: 50%;
  max-width: 600px;
  margin-left: 40px;
}

.cake {
  width: 600px;
  height: auto;
  object-fit: contain;
}

.cake-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}